//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    &__ttl {
        width: 132.43px;
        margin: 0 auto;
        padding-top: 20px;
        z-index: 2;
        
        @media screen and (min-width: 768px) {
            width: 170px;
        }
        
        @media screen and (min-width: 1024px) {
            width: 11.77083vw;
            min-width: 170px;
            padding-top: 0;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.book {
    width: fit-content;
    position: absolute;
    top: 98px;
    right: 25px;

    @media screen and (min-width: 1024px) {
        top: 140px;
        right: 40px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    &__txt {
        width: fit-content;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.05em;

        @media screen and (min-width: 768px) {
            font-size: 18px;
        }
    }

    &__span {
        -webkit-text-combine: horizontal;
        -ms-text-combine-horizontal: all;
        text-combine-upright: all;
    }

    &__icon {
        width: 40px;
        height: 40px;
        border: 2px solid #000;
        border-radius: 50%;
        position: relative;

        @media screen and (min-width: 768px) {
            width: 50px;
            height: 50px;
        }

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            display: block;
            background: url(../images/book_icon.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media screen and (min-width: 768px) {
                width: 30px;
                height: 30px;
            }
        }
    }
}