//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.btn {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 36px;
    right: 30px;
    display: flex;
    flex-direction: column;
    z-index: 4;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
        width: 40px;
        height: 30px;
        top: 55px;
        right: 45px;
    }

    &__top,
    &__bottom {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        background: #000;
    }

    &__top {
        transform: translateY(-4px);

        @media screen and (min-width: 1024px) {
            transform: translateY(-5px);
        }
    }

    &__bottom {
        transform: translateY(4px);

        @media screen and (min-width: 1024px) {
            transform: translateY( 5px);
        }
    }
}

.gnav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    transform: translateX(100%);
    transition: .3s;
    z-index: 3;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    &__bg {
        width: 30%;
        height: 100vh;
        background: $d-pink;
        @media screen and (min-width: 1024px) {
          width: 40%;
        }
    }

    &__ttl {
        width: 132.43px;
        margin: 0 auto;
        padding-top: 20px;
        @media screen and (min-width: 768px) {
          width: 170px;
        }
    }

    &__list {
        &:first-child {
            width: fit-content;
            margin: 90px 0 65px 93px;
            padding: 5px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.15em;

            @media screen and (min-width: 768px) {
                margin: 116px 0 90px 172px;
                font-size: 24px;
            }
            @media screen and (min-width: 1024px) {
              margin-top: 10.74074vh;
              margin-bottom: 8.33333vh;
            }
        }

        &:nth-child(2) {
            margin-left: 16px;
            display: flex;
            gap: 24px;

            @media screen and (min-width: 768px) {
                margin-left: 80px;
                margin-bottom: 45px;
                gap: 26px;
            }
        }

        &:nth-child(3) {
            margin-left: 20px;

            @media screen and (min-width: 768px) {
                margin-left: 80px;
            }
        }

    }

    &__pic {
        width: 58px;
        height: 119px;

        @media screen and (min-width: 768px) {
            width: 72px;
            height: 159px;
        }
    }

    &__list2 {
        margin-bottom: 45px;

        @media screen and (min-width: 768px) {
            margin-bottom: 60px;
        }
        // &:nth-child(2){
        //     @media screen and (min-width: 1024px) {
        //       margin-bottom: 8.33333vh;
        //     }
        // }
    }

    &__pic2 {
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            width: 129px;
        }
    }

    &__img2 {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__txt {
        font-size: 14px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 18px;
        }
    }

    &__link3 {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        width: 51px;
        height: 51px;
        border: 2px solid #000;
        border-radius: 50%;
        position: relative;

        @media screen and (min-width: 768px) {
            width: 60px;
            height: 60px;
        }

        &::before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            background: url(../images/book_icon.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media screen and (min-width: 768px) {
                width: 36px;
                height: 36px;
            }
        }
    }

    &__box {
        font-weight: 700;

        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    }

    &__span {
        margin-bottom: 15px;
        display: flex;
        text-indent: 9px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15em;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }

}