//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.active {
    opacity: 1 !important;
}

.btnNav {
    transform: translateY(0);
}

.translateNav {
    transform: translateX(0);
}

.view {
    opacity: 1;
    pointer-events: auto;
}

.nonView {
    opacity: 0;
    pointer-events: none;
}